<% provide(:title, "Impressum") %>
<p><strong>Impressum</strong></p>
<p>Verantwortlich nach § 55 Abs.2 RStV:</p>
<p>Peter Schmitz<br />Falckensteinstraße 17<br />10996 Berlin</p>
<p>E-Mail: peter.schmiz@gmx.de</p>