<div class="btn-toolbar">
  <%= link_to 'Tankbucheintrag', new_car_refuelling_path((@car.id)), :class => "btn btn-primary btn-block" %> 
  <%= link_to 'Reparatureintrag', '#', :class => "btn btn-primary btn-block" %> 
</div>