<table class="table table-striped">
   <tr id="car-header">
    <th class="col-md-3">Datum</th>
    <th class="col-md-7">Reparatur</th>
    <th class="col-md-2">Kosten</th>
  </tr> 
</table>
<p><a class="btn btn-default" href="#" role="button">Zeige alle Reparaturen &raquo;</a></p>