<div class="center jumbotron">
	<h2>Willkommen bei der Fuhrpark App! </h2>
	<br>
	<div><%= link_to "Melde dich jetzt an!", signup_path, class: "btn btn-lg btn-primary" %></div>
	<p><small>(Oder logge Dich rechts oben ein...)</small> </p>
</div>