<% provide(:title, 'Meine Autos') %>
<div class="row">
  <aside class="col-md-2">
    <div class="btn-toolbar">
    <%= link_to 'Neues Auto', new_car_path, :class => "btn btn-success btn-block" %> 
    </div>
  </aside>
  <div class="col-md-10">
    <h1 class="h1_formular">Meine Autos</h1>
    <%= render current_user.cars %>
  </div>
</div>
