<% provide(:title, "Ändere Verleihausgang") %>
<% provide(:button_text, "Speichere Änderungen") %>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
  <h1>Aktualisiere den Verleihausgang</h1>
    <%= render 'form' %>
  </div>
</div>