<% provide(:title, 'Neuer Tankeintrag') %>
<% provide(:button_text, 'Erstelle Tankeintrag') %>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
	<h1>Erstelle einen neuen Tankeintrag</h1>
    <%= render 'form' %>
  </div>
</div>