<% provide(:title, 'Neuer Tankeintrag') %>
<% provide(:button_text, 'Erstelle Tankeintrag') %>

<div class="row">
  <div class="col-md-2">
    <div class="btn-toolbar">
    <%= link_to 'Zurück zu Tankbuch', car_refuellings_path, :class => "btn btn-primary btn-block" %> 
    </div>
  </div>
  <div class="col-md-6">
	<h1>Erstelle einen neuen Tankeintrag</h1>
    <%= render 'form' %>
  </div>
</div>