<% provide(:title, @refuelling.refuel_date) %>
<div class="row">
  <aside class="col-md-4">
    <section class="car_info">
    <%= link_to "Neues Auto", new_car_path%>
    </section>
  </aside>
  <div class="col-md-8">
	<%= render 'shared/car_details' %>
  </div>
</div>