<% provide(:title, 'Neuer Reparatur') %>
<% provide(:button_text, 'Erstelle Reparatur') %>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
	<h1 class="h1_formular">Erstelle eine neue Reparatur</h1>
    <%= render 'form' %>
  </div>
</div>